[submodule "lib/andersen"]
	path = lib/andersen
	url = ../andersen
[submodule "lib/tinyformat"]
	path = lib/tinyformat
	url = https://github.com/c42f/tinyformat.git
[submodule "lib/inih"]
	path = lib/inih
	url = ../inih
[submodule "lib/typesig"]
	path = lib/typesig
	url = ../typesig
[submodule "lib/backward-cpp"]
	path = lib/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "lib/iterations"]
	path = lib/iterations
	url = ../iterations
[submodule "lib/leveldb-mp"]
	path = lib/leveldb-mp
	url = ../leveldb-mp
[submodule "lib/memorypool"]
	path = lib/memorypool
	url = ../memorypool
[submodule "lib/functional-hell"]
	path = lib/functional-hell
	url = ../functional-hell
[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = https://github.com/miloyip/rapidjson.git

